<div class='imgDiv'>
<div class="mainViewContainer">
<!-- add link to background image(s)  --> 
  <div class="centerbox">
    <h2>Monsieur CatBaby</h2>
    <div class="clearfix"></div>
    <p>Here will go a paragraph summarizing our site and the amazing
      services it can offer you. Do you like catbabyz? cause here at CatBaby, we love catbabies! every loves em everyone touches em!</p>

    <form>
      <input type="text" class="searchBar searchBarInput" ng-model="searchterms" placeholder="Enter search terms...">
      <button class="searchBar searchBarButton" ng-click="search(searchterms)">Search!</button>
    </form>

  </div> 
</div>
</div>
