<div class='imgDiv'>
<div class="mainViewContainer">

  <div class="centerbox">

    <h2>Welcome To ArtSafari</h2>
    
    <div class="clearfix"></div>

    <p>Discover art based on keywords, image composition, and favorites from users who share your tastes.</p>

    <form>
      <input type="text" class="searchBar searchBarInput" ng-model="searchterms" placeholder="Enter search terms...">
      <button class="searchBar searchBarButton"ng-click="displayResults()">Search!</button>
    </form>

  </div> 
</div>
</div>
