<div class="container userPageViewContainer">
  <div class="centerBanner">
    <h2> CatSafari!
    </h2>
    <p> Here at Le Safar du chats we like to keep our visitors happy by writing nonsense in all of our banners, cause who doesnt love footers?!1?</p> 
    <p class="banner divider"> - --------- ---- - ---- -- -- -- - -</p>
    <form class="searchResultsForm">
      <input type="text" class="searchBar searchBarInput" ng-model="searchterms" placeholder="Enter search terms...">
      <button class="searchBar searchBarButton" ng-click="displayResults()" >Search!</button>
  </form>
    
  </div>

  

  <!-- The left half of the user page displays the users liked photos -->
  <div class="leftAlign">
    <h3>
      Your Likes
    </h3>
    <div class="resultsDisplay">
      <!-- rows of liked art -->

      <table class="userLikes">
       <tr ng-repeat="result in results">
         <td>{{result.title}}</td><td>{{result[1]}}</td>
       </tr>
     </table>
   </div>

  </div>
 <!-- The right half of page displays recommended photos, etc. -->
  <div class="rightAlign">
  <h3>
    Recommended Pieces
  </h3>
  <!-- rows of recommended art-->
  <div class="resultsDisplay">


    <table class="userRecommendations">
     <tr ng-repeat="result in results">
       <td>{{result[0]}}</td><td>{{result[1]}}</td>
     </tr>

     <!-- the action link below sends the ID to the server to create the user-art edge -->
     <form class="form-inline" role="form" action="">
       <input type="submit" value="Like this piece">
     </form>
   </table>



  </div>

  </div> 
</div>